SUPABASE_URL=https://ruhqqwldhfsmuckdjvlh.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1aHFxd2xkaGZzbXVja2RqdmxoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODc2OTY4MywiZXhwIjoyMDk0MzQ1NjgzfQ.3b5GCgyBnQiLHNhQSsp3909V0BTeN-CWYyRvliYtfjw
DATABASE_URL=postgresql://postgres:RZ8xmwHN7_8N+%.@db.ruhqqwldhfsmuckdjvlh.supabase.co:5432/postgres